<div class="side-menu">
  <div id="archive">
    <ul>
      <li class="title">
        <i class="icon-tag icon-large"></i>
        <span>Archive</span>
      </li>
      <li>
        <i class="icon-chevron-right"></i>
        <a href="#">何とか何とか何とか何とかの日記</a>
      </li>
      <li>
        <i class="icon-chevron-right"></i>
        <a href="#">何とか何とか何とか何とかの日記</a>
      </li>
      <li>
        <i class="icon-chevron-right"></i>
        <a href="#">何とか何とか何とか何とかの日記</a>
      </li>
      <li>
        <i class="icon-chevron-right"></i>
        <a href="#">何とか何とか何とか何とかの日記</a>
      </li>
      <li>
        <i class="icon-chevron-right"></i>
        <a href="#">何とか何とか何とか何とかの日記</a>
      </li>
    </ul>
  </div><!-- /archive -->
  <div id="manage-menu">
    <ul>
      <li class="title">
        <i class="icon-edit icon-large"></i>
        <span>Manager</span>
      </li>
      <li>
        <i class="icon-edit"></i>
        <a href="#">日記を作る</a>
      </li>
      <li>
        <i class="icon-edit"></i>
        <a href="#">総編集画面</a>
      </li>
    </ul>
  </div><!-- /carender -->
</div><!-- /side-mnenu -->